<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/home.css">
    <title>Home</title>
</head>

<body>
    <div class="outer-container">
        <div class="inner-container">
            <div class="heading">
                <h1>Symphony. Music for your mood.</h1>
            </div>
            <div class="button-link">
                <div class="button">
                    <button><a href="{{ url_for('register') }}">Register Now</a><br></button>
                </div>
                <div class="link">
                    <p class="login-link">Already a registered user ? <a href="{{ url_for('login') }}">Click here to Log In</a></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>